@import url(https://fonts.googleapis.com/css?family=VT323);

body {
  margin: 0;
}

.center {
  background: linear-gradient(to top, #000000, #000000, #333333, #333333);
  background-size: cover;
  background-size: 100% 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  filter: blur(.99px);
  

}
@media screen{
  .center {
    animation: scanlines infinite 55s linear ;
  }
} 
@keyframes scanlines {
  from {
    background-position: 0 10;
  }
  to {
    background-position: 0 -20px;
  }
}
.buttonHolder {
  width: 30vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sampleButton{
padding:20px;
font-size: 64px;
background-color: transparent ;
color:  rgba(0, 255, 0, 0.399);
border-color:  rgba(0, 255, 0, 0.399);
border-style: solid;
border-width: 5px;
font-family: "VT323", monospace;
font-weight: 400;
font-style: normal;
text-shadow: 0 0 8px #00ff00;
box-shadow: 0 0 8px #00ff00;
filter: blur(1px);

}

/* Will control the rate and range of the green underglow when hovering over the button */
@media screen{
  .sampleButton:hover {
    animation:  infinite textGlow  3s linear ;
  }
} 
@keyframes textGlow {
  from {
    text-shadow: 0 0 8px #00ff00;
    box-shadow: 0 0 8px #00ff00;  }
  to {
    text-shadow: 0 0 25px #00ff00;
box-shadow: 0 0 25px #00ff00;
}
  to {
    text-shadow: 0 0 8px #00ff00;
    box-shadow: 0 0 8px #00ff00; }
}